	<section id="section1" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
		        <h1> WHO I AM</h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>HISTORY</h2>
                        <p>My name is Tyler Jones and I was born in Torrence, CA. When I was about 5 years old I moved to central Michigan. It was their I started college at Michigan State University where I focused on a General Business
                            and Finance degree. <br><br>After two years at MSU I moved to South Carolina not really knowing what it was I wanted to do with my life.<br><br> I had always been somewhat of a technologist and during the summer of 2010 I took my first programming class. It was also around the same time that the movie Social Network came out in theatres. I remember watching the movie about a 21 year old college dropout                                 that made billions of dollars with an idea, his laptop and a little code and thinking....I have to do this. I spent that summer learning as much as possible about coding and by the end of that summer I even landed my first "contract". $500 dollars to change about 10 lines of HTML. <br><br> After that first job I never looked back. I love what I do, and I don't see myself stopping anytime soon.</p>    
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/tyCourt.jpg" alt="" />
                        <figcaption style="text-align: center;">My fiancé, Courtney and I.</figcaption>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Personal Info</h2>
                        <p>Date of birth <i class="fa fa-birthday-cake" style="color: purple"></i>: 03/07/1990</p>
                        <p>Phone <i class="fa fa-phone" style="color:green"></i>: (312) 533-7115</p>
                        <p>E-mail  <i class="fa fa-envelope-o" style="color:red"></i>: tylerjones81@gmail.com</p>
                        <h2>Education</h2>
                        <p><i class="fa fa-graduation-cap" style="color: #006EB8;"></i>Michigan State University</p>
                        <p><i class="fa fa-graduation-cap" style="color: #006EB8;"></i>Technical College of the Lowcountry</p>
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
        </div><!--close row-->
      </div><!--close container-->
      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">

               <div class="col-md-12">
               
                 
                    <div class="box-text">
                        <h2>A little more about me.</h2>
                        <ul class="fa-ul">
                          <li class="iconList"><i class="fa-li fa fa-check-circle fa-2x" style="color:#19FF19;"></i><h5>I'm a front-end desktop, web and mobile developer.</h5>I'm fluent in HTML5, JavaScript and CSS. I've built many desktop applications with C# alone and I've dabbled with Java and XML Android apps. I understand how important UI/UX design is and how it should function. I'm also able to turn designs and tech specs into working web pages and applications.</li>
                          <li class="iconList"><i class="fa-li fa fa-check-circle fa-2x" style="color:#19FF19;"></i><h5>I'm also a back-end developer.</h5>I've worked on NodeJs and .Net REST API's, and WCF Web Services. I managed MSSQL and MySQL databases, along with MongoDB and CouchDB NoSQL databases.</li>
                          <li class="iconList"><i class="fa-li fa fa-exclamation-triangle fa-2x" style="color:yellow;"></i><h5>I'm a limited devops.</h5> I do enjoy having full control of the server and monitoring different things. But I'm a developer at heart.</li>
                          <li class="iconList"><i class=" fa-li fa fa-ban fa-2x" style="color:red;"></i><h5>I am not a designer.</h5> Although I can use Photoshop and GIMP to create cool buttons and images. I mostly stick to bootsrap and collaboration with designers.</li>
</ul>
                    </div>
                 
                
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->