<!--SECTION WORK-->

	<section id="section2" class="cd-section">

            <div class="container">
              <div class="row">
            <div class="col-md-12">
               <div class="box-content">
		        <h1>Frameworks I use</h1>
              
                <div class="col-md-6">
                     <div class="box-text">
                        <h3 style="text-align: center;" >Professionally</h3>
                            <ul id="dotnet">
                                <li>I'm developing with Visual Studio 2013</li>
                                <li>Manage Microsoft .Net Servers and Web Applications.</li>
                                <li>Actively developing Web Api 2.0 REST API Services</li>
                                <li>I use a MySql Database and and .Net Adapters.</li> 
                                <li>Team Foundation Server and Visual Studio Online for source control and project management</li>
                                <li>DbForge Studio for MySql</li>
                                <li>Amazon Elastic Beanstalk Application Center for Virtual Hosting</li>
                                <li>Bootstrap, Knockout.JS, Automapper, Highcharts.Js, Ninject Dependency Injection, PubNub Socket Comm., NuGet Package Manager </li>
                                
                                
                            </ul>
                            
                     </div>
			    </div>
                   
                       <div class="col-md-6">
                     <div class="box-text">
                        <h3 style="text-align: center;">For Fun</h3>
                              <ul id="dotnet">
                                <li>I have a Windows laptop, but I run Linux web servers.</li>
                                <li>This website was built on a NodeJs backend and AngularJS UI.</li>
                                  <li>NodeJs Express REST Api's, NPM and Bower Package Manager</li>
                                <li>NoSql Databases like MongoDB and CouchDB</li>
                                <li>Anything Internet of Things</li>
                                <li>GitHub Rocks</li>
                                <li>I love trying out new Javascript Frameworks</li>
                                <li>Amazon EC2 Web Hosting for full server control.</li>
                                  
 
                                
                                
                            </ul>
                            
                     </div>
			    </div>
              </div>
            </div>
		  </div>
        </div>

	</section><!-- cd-section -->
>

    <script type="text/javascript">
        /********************************************
        CLOSE PAGE DETAIL
        ********************************************/
//        $(document).ready(function () {
        $(".smooth-redirect").on("click", function (event) {
                event.preventDefault();
                linkLocation = this.href;
                $("body").fadeOut(1000, redirectPage);
            });
            function redirectPage() {
                window.location = linkLocation;
            }
//        });
   </script>
    