    <section id="section6" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
            <footer class="box-content">
                <div class="footer-logo" style="margin-bottom: 10px;display:inline-block;"><h1>Tyler K. Jones</h1></div>
                <div class="footer-social" >
                  
                    <a href="https://www.linkedin.com/pub/tyler-jones/b8/701/603" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin" style="color: #006EB8"></i></a>                    
                      
                    <a href="https://github.com/tjones08" target="_blank"><i class="fa fa-github"  style="color: #006EB8"></i></a>
                </div>
		    </footer>
          </div>
         </div>
      </div>
    </section>