<header>
    <div id="top" class="container">
      <div class="row">
        <div class="col-md-12 logo">
            <!--<div class="content-logo"><img src="images/newerLogo.png" alt="" /></div> -->
            <h1 style="margin-top:15px;">Tyler K. Jones</h1>
        </div>
        <nav class="col-md-12">
          <div class="mini-menu"><i class="fa fa-bars"></i></div>
          <ul class="col-md-9 col-sm-9 menu" auto-active >
            <li class="cl-effect-11"><a data-hover="HOME" href="#/">Home</a></li>
            <li class="cl-effect-11"><a data-hover="WORK" href="#/work">Work</a></li>
            <li class="cl-effect-11"><a data-hover="EXPERIENCE" href="#/experiences">Experience</a></li>
              <li class="cl-effect-11"><a data-hover="WHAT I USE" href="#/whatiuse">WHAT I USE</a></li>
            <li class="cl-effect-11"><a data-hover="CONTACT" href="#/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <script>
      // Mobile menu toggle
      var mobile_nav = $(".mini-menu");
      mobile_nav.click(function () {
          $("#top").find(".menu").toggle(2000);
      });
  </script>